@import "theme/_main";

// part of the text that overlaps the background image
.boxHero .feature-content { 
  background: #ffffffdd;
  //border: 1px solid #88888822;
  //margin-bottom: 2rem;
}

.footer-column {
  flex-basis: 330px
}

.navbar-dropdown {
  opacity: 0.9
}
